@media (min-width: 1000px) {

    .container1{
        width: 1440px;

    }

    .hero-img{
        width: 544.11px;
        height: 557.49px;
        padding-top: 88px;
        padding-left: 735px;
    }


    .cards{
    
        flex-direction: row;
        width: 1146px;
        height: 128px;



    }

    .categories-title{
        text-align: left;
        width: 1146px;
        margin: 0 auto;
    }

    .vacansies-cards{
        width: 1146px;
        height: 700px;
    }
    .vacansies-card{
        flex-direction: row;
        width: 1146px;
        height: 160px;
    }
}